fastapi==0.115.12
uvicorn[standard]==0.34.0
httpx==0.28.1
boto3==1.38.0
botocore==1.38.0
pydantic==2.11.1
python-dotenv==1.1.0
sqlalchemy==2.0.40
python-telegram-bot==21.10
python-multipart==0.0.20
aiofiles==24.1.0
